<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Inrichten en sturen onderzoeksactiviteit</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.4.1.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Inrichten en sturen onderzoeksactiviteit</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a7c8bd7ccb83401791ab09325f523c3c.png" alt="Inrichten en sturen onderzoeksactiviteit" usemap="#id-a7c8bd7ccb83401791ab09325f523c3cmap"/>
			   <map name="id-a7c8bd7ccb83401791ab09325f523c3cmap">
				          <area shape="rect" coords="10,10,133,59" href="../objects/id-428eb6b2ef054217b6d1ce2db268185b.html" target="element" >
				  		<area shape="rect" coords="34,250,251,305" href="../elements/id-d44d3e2a4b814329a0435fe2d9ab578d.html"  target="element">
				  		<area shape="rect" coords="34,1198,251,1253" href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html"  target="element">
				  		<area shape="rect" coords="34,1126,251,1181" href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html"  target="element">
				  		<area shape="rect" coords="34,1054,251,1109" href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html"  target="element">
				  		<area shape="rect" coords="34,982,251,1037" href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html"  target="element">
				  		<area shape="rect" coords="34,898,251,953" href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html"  target="element">
				  		<area shape="rect" coords="34,466,251,521" href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html"  target="element">
				  		<area shape="rect" coords="694,994,911,1049" href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html"  target="element">
				  		<area shape="rect" coords="694,478,911,533" href="../elements/id-08cb7e21117f4ac6b4e48c663c9163a6.html"  target="element">
				  		<area shape="rect" coords="682,394,899,449" href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html"  target="element">
				  		<area shape="rect" coords="694,322,911,377" href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html"  target="element">
				  		<area shape="rect" coords="694,610,911,665" href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html"  target="element">
				  		<area shape="rect" coords="694,682,911,737" href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html"  target="element">
				  		<area shape="rect" coords="694,154,911,209" href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html"  target="element">
				  		<area shape="rect" coords="34,826,251,881" href="../elements/id-9210e4bda7564ddfab39dd82228f4c33.html"  target="element">
				  		<area shape="rect" coords="34,754,251,809" href="../elements/id-125d1f8342aa45f5bd2c762b7344ab22.html"  target="element">
				  		<area shape="rect" coords="34,682,251,737" href="../elements/id-99b774174d3c48dc9ec63fb94d2d8520.html"  target="element">
				  		<area shape="rect" coords="34,607,251,662" href="../elements/id-95635b0b0d93427a96293aca274463d9.html"  target="element">
				  		<area shape="rect" coords="34,538,251,593" href="../elements/id-13019ef2a3054c17bc13908455ebf0c8.html"  target="element">
				  		<area shape="rect" coords="34,394,251,449" href="../elements/id-1f9ef4d94c1742c58da7195c60e475f9.html"  target="element">
				  		<area shape="rect" coords="34,322,251,377" href="../elements/id-89cd2ce16eb348ce80895355f303bf53.html"  target="element">
				  		<area shape="rect" coords="34,178,251,233" href="../elements/id-9de3b6c46c9a41a393a342c096960d41.html"  target="element">
				  				<area shape="rect" coords="382,826,563,1235" href="../elements/id-c2b5c876db8749448550c662bf2e863f.html"  target="element">
				  				<area shape="rect" coords="382,394,563,467" href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html"  target="element">
				  				<area shape="rect" coords="382,154,563,227" href="../elements/id-02135937da9f4ae48d6b10bafab43c12.html"  target="element">

				  		<area shape="rect" coords="370,106,575,1253" href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html"  target="element">
				  		<area shape="rect" coords="34,106,251,161" href="../elements/id-6c026492b9dd4038befcc54254edcc85.html"  target="element">
				          <area shape="rect" coords="10,70,935,1271" href="../objects/id-d6998dc02d0c43c5ae250ef86c90b690.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-d6998dc02d0c43c5ae250ef86c90b690.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d6998dc02d0c43c5ae250ef86c90b690.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-6c026492b9dd4038befcc54254edcc85.html" target="element"> Onderzoeksvoorstel </a> </td>
											    <td> <a href="../elements/id-6c026492b9dd4038befcc54254edcc85.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
											    <td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    	(Process)
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-02135937da9f4ae48d6b10bafab43c12.html" target="element"> Besluiten over onderzoeksactiviteit </a> </td>
													    <td> <a href="../elements/id-02135937da9f4ae48d6b10bafab43c12.html" target="element" class="i18n-elementtype-BusinessProcess">
													    	(Process)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
													    <td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element" class="i18n-elementtype-BusinessProcess">
													    	(Process)
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
													    <td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    	(Process)
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9de3b6c46c9a41a393a342c096960d41.html" target="element"> Financieringsbesluit </a> </td>
											    <td> <a href="../elements/id-9de3b6c46c9a41a393a342c096960d41.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-89cd2ce16eb348ce80895355f303bf53.html" target="element"> Onderzoeksovereenkomst </a> </td>
											    <td> <a href="../elements/id-89cd2ce16eb348ce80895355f303bf53.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1f9ef4d94c1742c58da7195c60e475f9.html" target="element"> Onderzoeksontwerp </a> </td>
											    <td> <a href="../elements/id-1f9ef4d94c1742c58da7195c60e475f9.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13019ef2a3054c17bc13908455ebf0c8.html" target="element"> Onderzoeksprotocol </a> </td>
											    <td> <a href="../elements/id-13019ef2a3054c17bc13908455ebf0c8.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-95635b0b0d93427a96293aca274463d9.html" target="element"> Datamanagementplan </a> </td>
											    <td> <a href="../elements/id-95635b0b0d93427a96293aca274463d9.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99b774174d3c48dc9ec63fb94d2d8520.html" target="element"> Ethisch beoordelingsbesluit </a> </td>
											    <td> <a href="../elements/id-99b774174d3c48dc9ec63fb94d2d8520.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-125d1f8342aa45f5bd2c762b7344ab22.html" target="element"> Compliancebeoordeling </a> </td>
											    <td> <a href="../elements/id-125d1f8342aa45f5bd2c762b7344ab22.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9210e4bda7564ddfab39dd82228f4c33.html" target="element"> Onderzoeksrisico- en veiligheidsbeoordeling </a> </td>
											    <td> <a href="../elements/id-9210e4bda7564ddfab39dd82228f4c33.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element"> Onderzoeksbesluit </a> </td>
											    <td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
											    <td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
											    <td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element"> Onderzoeksgovernance-afspraken </a> </td>
											    <td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element"> Onderzoeksuitvoeringsplan </a> </td>
											    <td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08cb7e21117f4ac6b4e48c663c9163a6.html" target="element"> Onderzoeksvoorzieningsaanvraag </a> </td>
											    <td> <a href="../elements/id-08cb7e21117f4ac6b4e48c663c9163a6.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element"> Onderzoeksvoortgangsrapportage </a> </td>
											    <td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element"> Onderzoeksbesluit </a> </td>
											    <td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
											    <td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
											    <td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element"> Onderzoeksuitvoeringsplan </a> </td>
											    <td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element"> Onderzoeksgovernance-afspraken </a> </td>
											    <td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element"> Onderzoeksvoortgangsrapportage </a> </td>
											    <td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d44d3e2a4b814329a0435fe2d9ab578d.html" target="element"> Onderzoeksfinanciering </a> </td>
											    <td> <a href="../elements/id-d44d3e2a4b814329a0435fe2d9ab578d.html" target="element" class="i18n-elementtype-BusinessObject">
											    	(Business object)
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-428eb6b2ef054217b6d1ce2db268185b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-428eb6b2ef054217b6d1ce2db268185b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-d7345fa6706b4ddcac642919056ae9ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d7345fa6706b4ddcac642919056ae9ac.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-02135937da9f4ae48d6b10bafab43c12.html" target="element"> Besluiten over onderzoeksactiviteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-23f070f6b99d483c90339ced9227a16d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-23f070f6b99d483c90339ced9227a16d.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fa27d62de6254ecea12c4ae0c64be430.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa27d62de6254ecea12c4ae0c64be430.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fe2394fb92a4626996a7f84369014ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fe2394fb92a4626996a7f84369014ff.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-6c026492b9dd4038befcc54254edcc85.html" target="element"> Onderzoeksvoorstel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dcdbcc8c79544fb2aba106e1e1585b52.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dcdbcc8c79544fb2aba106e1e1585b52.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-9de3b6c46c9a41a393a342c096960d41.html" target="element"> Financieringsbesluit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fea0705871e141d1890038ab7dbcef48.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fea0705871e141d1890038ab7dbcef48.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-89cd2ce16eb348ce80895355f303bf53.html" target="element"> Onderzoeksovereenkomst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dfdeaaec18db415db1beb94977da2812.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfdeaaec18db415db1beb94977da2812.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-1f9ef4d94c1742c58da7195c60e475f9.html" target="element"> Onderzoeksontwerp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-078884a42f3a43aa97f4b427fbcd2964.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-078884a42f3a43aa97f4b427fbcd2964.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-13019ef2a3054c17bc13908455ebf0c8.html" target="element"> Onderzoeksprotocol </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7ed89f1d9e14f20b3e56ada5e47e1f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7ed89f1d9e14f20b3e56ada5e47e1f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-95635b0b0d93427a96293aca274463d9.html" target="element"> Datamanagementplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d3ddf18a3e22435db6c32dc79d5ae9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3ddf18a3e22435db6c32dc79d5ae9cc.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-99b774174d3c48dc9ec63fb94d2d8520.html" target="element"> Ethisch beoordelingsbesluit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-33d721f4fced4f57a7bdf9ad330a632f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33d721f4fced4f57a7bdf9ad330a632f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-125d1f8342aa45f5bd2c762b7344ab22.html" target="element"> Compliancebeoordeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d21f339dfa7d4e8d8fb8d1ea6df42284.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d21f339dfa7d4e8d8fb8d1ea6df42284.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-9210e4bda7564ddfab39dd82228f4c33.html" target="element"> Onderzoeksrisico- en veiligheidsbeoordeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-afec2c27397a4c598ded69ea3f391ce3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-afec2c27397a4c598ded69ea3f391ce3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c2e02c9763574bb1981cd6b5368ac51b.html" target="element"> Inrichten en sturen onderzoeksactiviteit </a> </td>
																		<td> <a href="../elements/id-d44d3e2a4b814329a0435fe2d9ab578d.html" target="element"> Onderzoeksfinanciering </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3faa8b18e9ae4690a1437da1e4713ae1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3faa8b18e9ae4690a1437da1e4713ae1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-02135937da9f4ae48d6b10bafab43c12.html" target="element"> Besluiten over onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element"> Onderzoeksbesluit </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-75feb1a3012f4d1a8eb4cd8718a7b0a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-75feb1a3012f4d1a8eb4cd8718a7b0a3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-dec6ff7d6f2849038673c6a2297ffe26.html" target="element"> Onderzoeksbesluit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bf4de0453cad4fc78eb3aa05495a6d40.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bf4de0453cad4fc78eb3aa05495a6d40.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-6a2e995c77894219a8fb6cc5d97f13f9.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-6a2e995c77894219a8fb6cc5d97f13f9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e6a2b3349a164f8b972572c7675fe49d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e6a2b3349a164f8b972572c7675fe49d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element"> Onderzoeksgovernance-afspraken </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c332290835af4861afb1d2a34eaac8f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c332290835af4861afb1d2a34eaac8f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element"> Onderzoeksuitvoeringsplan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-70540c831dea40a19c9a6377c2801557.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-70540c831dea40a19c9a6377c2801557.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-30dbc3587f824ec7911a6c1b254928e1.html" target="element"> Inrichten onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-08cb7e21117f4ac6b4e48c663c9163a6.html" target="element"> Onderzoeksvoorzieningsaanvraag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-de72d5cae4534412bdd3d6bf24a19496.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-de72d5cae4534412bdd3d6bf24a19496.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element"> Onderzoeksvoortgangsrapportage </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-08924d68ed1049c5bb0586f860db82fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-08924d68ed1049c5bb0586f860db82fc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-5ee8ba95d08545738b072c99a13e5411.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5ee8ba95d08545738b072c99a13e5411.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d4cc9bb7f8ae4f5ca2259f3bf826a2b0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d4cc9bb7f8ae4f5ca2259f3bf826a2b0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-ee3281fefa6d4033b44f43f914cacac0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ee3281fefa6d4033b44f43f914cacac0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-79be363e8d054d0cbcd1e0341f949f2d.html" target="element"> Onderzoeksuitvoeringsplan </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-55616ec9eccf4af980008cabc4dd8b34.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-55616ec9eccf4af980008cabc4dd8b34.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-f79fcf5aa3a5414b9294d78f2059beae.html" target="element"> Onderzoeksgovernance-afspraken </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-784e5c6c2979450eba5ade7ce316e3e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-784e5c6c2979450eba5ade7ce316e3e1.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-c2b5c876db8749448550c662bf2e863f.html" target="element"> Besturen onderzoeksactiviteit </a> </td>
																				<td> <a href="../elements/id-1a30f06eb1cb4480b2a4965818dfb935.html" target="element"> Onderzoeksvoortgangsrapportage </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-f52facc38e104fd09302d365490db714.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f52facc38e104fd09302d365490db714.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
																		<td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f52facc38e104fd09302d365490db714.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f52facc38e104fd09302d365490db714.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-336beee3ae7c4fe3bb741609061ed8e5.html" target="element"> Onderzoeksproject </a> </td>
																		<td> <a href="../elements/id-5cb48bb2f4e24730965d9afb4076a1b5.html" target="element"> Onderzoeksactiviteit </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>